:root{
    /* CSS HEX */
--tropical-indigo: #8d86c9ff;
--platinum: #e8e8e8ff;
--royal-blue-traditional: #03256cff;
--persimmon: #eb6424ff;
--onyx: #454545ff;
}

/* *{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
} */
  
a{
    text-decoration: none;
    color: var(--platinum);
    border: 1px solid white;
    padding: 10px;
}
body{
    font-family: "Outfit";
}
body{
    padding-left: 10%;
    padding-right: 10%;
   
    
}
.app{
    background-color: var(--onyx);
}
.nav{
    display: flex;
    flex-direction: column;
}
.nav .menu{
    display: none;
    flex-direction: column;
    gap: 10px;
    animation: menu 1s;
    padding: 10px;
}
@keyframes menu{
    from{
        padding: 0; 
        opacity: 0;       
    }
    to{
        opacity: 1;
        padding: 1;
    }
}
.menu a{
    text-decoration: none;
    color: var(--platinum);
}
.navcont{
    background-color: var(--platinum);
    font-family: "BBH Sans Hegarty", sans-serif;
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 10px ;

    
}
.hero{
    color: var(--platinum);
    height: 80vh;
    width: 100%;
    

    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  /* black overlay */
    url("./assets/hero.jpg");;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.hero button{
    background-color: var(--persimmon);
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    color: white;
}
.i{
    height: 30px;
    width: 30px;
}




/* Outer container */
.wrapper {
    max-width: 100%;
    overflow: hidden;  /* hide the overflowing part */
    position: relative;
    padding: 20px 0;
    background-color: #333; /* optional for contrast */
    
    
    
    /* 👇 Mask for fade edges (modern browsers) */
    -webkit-mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0) 100%
        );
        mask-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 1) 20%,
            rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0) 100%
    );
}

/* Inner scrolling content */
.marquee {
  display: flex;
  gap: 20px;
  animation: scroll 15s linear infinite;
}

/* Individual items */
.wrapper .item {
    border: 1px solid var(--platinum);
  width: 8rem;
  height: 50px;
  border-radius: 6px;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  color: var(--platinum);
  display: flex;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}



.about{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--platinum);
    padding: 10px;
}
.about a{
    border-radius: 5px;
}
.about-content h1,p{
    max-width: 600px;
}

.about img{
    width: 30vw;
    height: 15rem;
    background-size: cover;
    border-radius: 10px;
}

.btn{
    margin-top: 20px;
}

.contactus{
    display: flex;
    text-align: center;
    flex-direction: column;
    color: var(--platinum);
    
    margin-top: 10px ;
    margin-bottom: 10px;
    
}
.contactus form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.contactus form input,textarea{
    width: 30vw;
    max-width: 600px;
    padding: 5px;
    color: var(--onyx);
    
}
.contactus form textarea{
    font-family: "Outfit";
}
.contactus button{
    margin-top: 20px;
    background-color: var(--persimmon);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
    color: var(--platinum);
}

.footer iframe{
    width: 35vw;
    height: 30vh;
    border: 0;
    border-radius: 5px;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    color: var(--platinum);
}
.contactus img{
    height: 50px;
    width: auto;
    margin-bottom: 20px;
}
.footer-policy{
    text-align: center;
}






video{
    width: 100%;
    height: auto;
}


@media (max-width:600px) {
    body{
        padding: 0;
        margin: 0;
    }
    .about-content img{
        height: 100%;
    }
    .hero p,h1{
        text-align: center;
        width: 300px;
    }
    .contactus {
        padding: 10px 20px;
    }
   .contactus form input,textarea{
    width: 90vw;
    max-width: 600px;
    padding: 5px;
    color: var(--onyx);
    border: 1px solid var(--platinum);
}
    .footer iframe{
    width: 90vw;
    height: 100%;
    border-radius: 5px;
}
.about img{
    width: 90vw;
}
}